template(name="chart1")
  #page-wrapper
    h2.panel-heading
      | Graphs
    form
      label
        input(type='radio', name='mode', value='grouped')
        |  Grouped
      label
        input(type='radio', name='mode', value='stacked', checked='')
        |  Stacked

    .row
      .col-lg-12
          #graph.aGraph(style='position:absolute;')
          style.
            path {
            stroke: steelblue;
            stroke-width: 1;
            fill: none;
            }
            .axis {
            shape-rendering: crispEdges;
            }
            .x.axis line {
            stroke: lightgrey;
            }
            .x.axis .minor {
            stroke-opacity: .5;
            }
            .x.axis path {
            display: none;
            }
            .y.axis line, .y.axis path {
            fill: none;
            stroke: #000;
            }
            form {
            position: absolute;
            right: 10px;
            top: 10px;
            }

                              
            // .panel-body
        // /.panel
      // /.col-lg-12
    // /.row
  // /#page-wrapper

