template(name="prices")
    #page-wrapper
        .row
          .col-lg-12
            h1.page-header 
            table#example.table.table-striped.table-bordered(cellspacing='0', width='100%')
                thead
                    tr
                      th Name
                      th Market Cap
                tbody
                    tr
                      td TataSteel
                      td $320,800
                    tr
                      td Adani Powers
                      td $170,750
                    tr
                      td Nestle
                      td $86,000
                    tr
                      td ONGC
                      td $433,060
                    tr
                      td Wayne Enterprises  
                      td $162,700