template(name="stocks")
    #page-wrapper
        .row
          .col-lg-6
            h1.page-header Stock Memo
            // ./page-header
            input#input_stock.style-1(type="text", placeholder="Add elements to stock")                
            button#add.btn-primary.btn-outline(type='button') Add
            button#delete.btn-warning.btn-outline(type='button') Hide
            button#remove.btn-danger.btn-outline(type='button') Remove
            br
            br
            list-group
                label.checkbox
                    #list
